/* variavel para as cores */
:root {

    :root {

        --background-color: #e83333;
    
        --fundo-menu-lateral: #1582da;
        --fundo-claro: #1677c6;
        --fundo-escuro: #5c17af;
    
        --borda-clara: #42a0ed;
        --borda-escura: #267cc1;
    
        --texto-escuro: #141414;
        --texto-claro: #267cc1;
        --texto-branco: #ffffff;
        --texto-hover: #5e1dad;
        --texto-opaco: #81888c;
    
        --cor-detalhes: #42a0ed;
    
        --texto-titulo-claro: #267cc1;
        --texto-titulo-escuro: #5e1dad;
    
        --sombra-clara: rgba(66, 160, 237, 0.3);
        --sombra-escura: rgba(20, 20, 20, 0.1);
    }
}

/* CSS Geral */
body {

    font-family: "Roboto", sans-serif;
    color: var(--texto-claro);
    background: var(--fundo-escuro)
}

/* Cabeçalho */
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color:  var (--fundo-menu-lateral);
    padding:0 15px;
    overflow-y: auto;
    z-index: 99;
    transition:all ease-in-out 0,5s;
}

#header .perfil img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 2px solid var(--borda-clara);
    box-sizing: 0 0 5px var var(--sombra-clara);
}

#header .perfil h1 {
    font-size: 24;
    margin: 25px;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: wheat;
    font-family: "Montaga", sans-serif;
    /* font-family: ; */
}

.perfil .social-links i {
    font-size: 18px;
    display: inline-block;
    background: transparent;
    color: var(--texto-claro);
    line-height: 1;
    padding: 8px 0;
    margin-right: 5px;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 35px;
    transition: 0.3s;
    box-shadow: 0px 0px 5px 0px var(--sombra-clara);
}

.perfil .social-links a:hover.social-links i:hover {
    font-size: 18px;
    display: inline-block;
    background: white;
    color: black;
    margin-right: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 5px 0px var(--sombra-clara);
}

/* Menu mobile */
.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    right: 15px;
    z-index: 9999;
    border: 0;
    font-size: 25px;
    transition: all 0.5s;
    background: var(--cor-detalhes);
    color: var(--texto-claro);
    width: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
}

.mobile-nav-active {
    overflow: hidden;

}

.mobile-nav-active #header {
    left: 0;
}

/* Ajuste para o Corpo do Conteudo */

/* menu responsivo */
@media (max-width: 1199px){
    #header {
        left: -300px;
    }
}

/* Menu do Header */ 

.nav-menu {
    padding: 30px 0 0 0;
}

.nav-menu * {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a,
.nav-menu:focus {
    display: flex;
    align-items: center;
    color: var(--texto-opaco);
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 22px;
    padding-right: 10px;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: var(--texto-claro);
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
    color: var(--cor-detalhes);
    font-weight: 600;
}