/* variavel para as cores */
:root {

    --background-color: #5a738e; /* Azul acinzentado suave do fundo */
    
    --fundo-menu-lateral: #3d5673; /* Azul médio mais discreto */
    --fundo-claro: #7c96b3; /* Azul claro semelhante ao tom do castelo */
    --fundo-escuro: #2b3f5c; /* Azul mais profundo para seções escuras */

    --borda-clara: #aebed1; /* Azul acinzentado claro para detalhes sutis */
    --borda-escura: #4c627f; /* Azul médio para contrastes leves */

    --texto-escuro: #ffffff; /* Branco puro para textos principais */
    --texto-claro: #d3dbe5; /* Azul muito claro para textos secundários */
    --texto-branco: #ffffff; /* Branco para maior destaque */
    --texto-hover: #b8c7dc; /* Azul suave para interações */
    --texto-opaco: #95a2b5; /* Azul acinzentado para textos menos destacados */

    --cor-detalhes: #d8e0ed; /* Azul claro brilhante para realces sutis */

    --texto-titulo-claro: #d3dbe5; /* Azul claro para títulos */
    --texto-titulo-escuro: #ffffff; /* Branco para títulos em fundos escuros */

    --sombra-clara: rgba(216, 224, 237, 0.3); /* Sombra suave azulada */
    --sombra-escura: rgba(43, 63, 92, 0.5); /* Sombra azul profundo para realce */

}

/* CSS Geral */
body {
    font-family: "Roboto", sans-serif;
    color: var(--texto-claro);
    background: var(--fundo-escuro);
}

/* cabeçalho */
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: var(--fundo-menu-lateral);
    padding: 0 15px;
    overflow-y: auto;
    z-index: 99;
    transition: all ease-in-out 0.5s;
}

#header .perfil img {
    margin: 15px auto;
    display: block;
    width: 13rem;
    border: 2px solid var(--borda-clara);
    box-sizing: 0 0 5px var(--sombra-clara);
}

#header .perfil h1 {
    font-size: 24px;
    margin: 25px;
    padding: 0;
    font-weight: 600;
    text-align: center;
    color: wheat;
}

/* Redes Socias */

.perfil .social-links i {
    font-size: 18px;
    display: inline-block;
    background: transparent;
    color: var(--texto-claro);
    line-height: 1;
    padding: 8px 0;
    margin-right: 5px;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 35px;
    transition: 0.3s;
    box-shadow: 0px 0px 5px 0px var(--sombra-escura);
}

.perfil .social-links a:hover,
.social-links i:hover {
    font-size: 18px;
    display: inline-block;
    background: white;
    color: var(--texto-escuro);
    margin-right: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: 0px 0px 5px 0px var(--sombra-escura);
}

.mobile-nav-toggle {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 99999;
    border: 0;
    font-size: 26px;
    transition: all 0.4s;
    background: var(--fundo-menu-lateral);
    color: var(--texto-claro);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    cursor: pointer;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active #header {
    left: 0;
}
/* Ajuste para o corpo do conteudo */

/* menu responsivo */

@media (max-width: 1199px) {
    #header {
        left: -300px;
    }
}

/* menu do header */

.nav-menu *{
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}
.nav-menu a,
.nav-menu:focus {
    display: flex;
    align-items: center;
    color: var(--texto-opaco);
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: var(--sombra-escura);
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
    color: var(--sombra-escura);
}

/* HERO */
#hero {
    width: 100%;
    height: 100vh; /* view Port Heigth */
    background: url("../img/bg-hero.png");
    /* Criar img na I.A */
    background-size: cover;
    position: relative;
}

#hero::before {
    content: "";
    position: absolute;
    z-index: 2;
    inset: 0;
    background-color: rgba(102, 81, 234, 0.652);
}

#hero .hero-container {
    z-index: 3;
    position: relative;
    min-height: 300px;
    background: var(--background-color);
}

#hero h2 {
    margin: 0;
    font-size: 100px;
    font-weight: 500;
    line-height: 120px;
    color: var(--texto-claro);
}

#hero p {
    color: var(--texto-branco);
    margin-bottom: 50px;
    font-size: 26px;

}

#hero p span {
    color: var(--texto-claro);
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid var();
}


/* estrutura Base - Corpo */



#header h1 {
    color: var(--texto-escuro);
    text-align: center;
}